._7mua {
    min-height: 100vh;
    background-image: url("../../assets/background.jpg");
}

._7mua .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

._7mua .navigation > div {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    user-select: none;
}

._7mua .navigation > div span {
    padding-right: 8px;
}

._7mua .container {
    display: flex;
    justify-content: center;
}

._7mua .whipped-bug {
    padding: 40px;
    margin-bottom: 40px;
    color: rgb(12, 12, 20);
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

._7mua .whipped-bug .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

._7mua .whipped-bug .header h2 {
    all: unset;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 12px;
}

._7mua .whipped-bug .header span {
    color: rgb(112, 109, 107);
    font-size: 14px;
}

._7mua .whipped-bug .tabstop-ebbs > div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

._7mua .whipped-bug .tabstop-ebbs span {
    font-size: 15px;
    margin-bottom: 7px;
    font-weight: 500;
}

._7mua .whipped-bug .tabstop-ebbs input {
    width: 392px;
    height: 42px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 15px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    outline: none;
}

._7mua .whipped-bug .tabstop-ebbs input:focus {
    border-color: rgb(126, 126, 189);
}

._7mua .whipped-bug .tabstop-ebbs .praised-yald {
    position: absolute;
    top: 35px;
    right: 10px;
    color: rgb(112, 109, 107);
    font-size: 15px;
}

._7mua .whipped-bug .tabstop-ebbs .praised-yald svg {
    color: rgb(80, 80, 80);
    padding-left: 5px;
    transform: translateY(2px);
}

._7mua .whipped-bug .tabstop-ebbs .spastics-foe {
    position: relative;
}

._7mua .whipped-bug .tabstop-ebbs .spastics-foe .sanitise-oxen {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 4px;
    bottom: -20px;
    left: 0px;
    color: rgb(220, 50, 81);
    font-size: 11px;
    font-weight: 500;
}

._7mua .whipped-bug .tabstop-ebbs .spastics-foe .sanitise-oxen svg {
    width: 13px;
    height: 13px;
}

._7mua .whipped-bug .tabstop-ebbs .spastics-foe input.error {
    border-color: rgb(220, 50, 81);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

._7mua .whipped-bug .kittened-web {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

._7mua .whipped-bug .kittened-web img {
    width: 20px;
    height: 20px;
    transform: translateY(2px);
}

._7mua .whipped-bug .kittened-web button {
    width: 100%;
    height: 44px;
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
    background-color: rgb(98, 67, 230);
    box-sizing: border-box;
    cursor: pointer;
}

._7mua .whipped-bug .kittened-web button:hover {
    background-color: rgb(91, 64, 211);
}

._7mua .whipped-bug .kittened-web.spinner button {
    background-color: rgba(97, 67, 230, 0.70);
}

._7mua .whipped-bug .kittened-web > div {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

._7mua .whipped-bug .kittened-web > div span {
    color: rgb(98, 67, 230);
    text-decoration: underline;
    cursor: pointer;
}

._7mua .whipped-bug .kittened-web > div span:hover {
    text-decoration: none;
}

._7mua .whipped-bug .domes-pout {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: rgb(112, 109, 107);
    margin-top: 20px;
}

._7mua .whipped-bug .domes-pout span:nth-of-type(2) {
    color: rgb(98, 67, 230);
    text-decoration: underline;
}
